html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
.wrapper{
	padding-bottom: 110px;
}
body {
   padding:10px;
   padding-bottom:135px;    /*Height of the footer*/ 
}
footer {
	text-align: center;
	background-color: #222;
	/*color: white;*/
	color: #f0f0f0;
	font-family: "Josefin Slab";
	position:absolute;
	bottom:0;
	width:100%;
	height:135px;   /* Height of the footer */
}
img{
	margin-top: 10px;
}